torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
tqdm==4.65.0
neo4j==4.3.7
tensorflow==2.6.0
python-dotenv==1.0.0
pandas==2.0.2
imbalanced-learn-0.10.1
langchain==0.0.216
jupyterlab==4.0.2
spacy==3.5.3
spacy-transformers==1.2.5
seaborn
-e .